		<li class="inline-paypal" style="margin-top: 20px;margin-right: 24px;">
			<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
			<input type="hidden" name="cmd" value="_cart">
			<input type="hidden" name="business" value="48NHS23F9MVUE">
			<input type="hidden" name="display" value="1">
			<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_viewcart_SM.gif" border="0" name="submit" alt="PayPal view cart">
			<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
			</form>
		</li>
