input#quantity {
    width: 68px;
    height: 40px;
    line-height: 20px;
    top: 2px;
    position: relative;
    font-size: 1.5em;
    border: none;
    box-shadow: none;
    padding: 0;
    background-color: #ccc;
    text-align: center;
}
input#quantity::-webkit-inner-spin-button {
    opacity: 1
}
label[for=quantity] {
	font-size: 1.4em;
	font-weight: 100;
}
.paypal-price {
	font-size:1.5em;
}
.inner-shadow {
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75) !IMPORTANT;
	-moz-box-shadow:    inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75) !IMPORTANT;
	box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.75) !IMPORTANT;
}
span.float-price {

}
